[Unit]
Description=Send message telegram on boot
After=multi-user.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/usr/bin/bash /root/scripts/hello.sh

[Install]
WantedBy=multi-user.target
