[Unit]
Description=Send message telegram on boot
After=multi-user.target

[Service]
#Type=idle
Type=simple
ExecStartPre=/bin/sleep 240  # Retraso de 4 minutos
ExecStart=/usr/bin/bash /root/scripts/hello.sh

[Install]
WantedBy=multi-user.target
